body {
  background-color: #121212;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.container {
  width: 350px;
  text-align: center;
}

input {
  padding: 8px;
  width: 65%;
  border: none;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #00ff88;
  cursor: pointer;
  border-radius: 4px;
}

li {
  margin-top: 10px;
  background: #1e1e1e;
  padding: 8px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}
